<div class="{{ 'top-product-info' | post_class }}">
    {{ open_container }}
        <div class="top-product-info-content">
            <div class="product-info-and-actions">
                <div class="left-block">
                    {% do action('jankx_woocommerce_product_info_top_left_block') %}
                </div>
                <div class="right-block">
                    {% do action('jankx_woocommerce_product_info_top_right_block') %}
                </div>
            </div>
            <div class="product-info-sidebar">
                {{ get_widgets('product_info_sidebar') }}
            </div>
        </div>
    {{ close_container }}
</div>
