<a href="{{ cart_url }}">
    <span class="fas fa-shopping-cart"></span>
    {% if text %}
        <span class="cart-text">{{ text }}</span>
    {% endif %}
    {% if show_badge and badge > 0 %}
        <span class="cart-badge">{{ badge }}</span>
    {% endif %}
</a>
