@use "sass:math";

.woocommerce {
    .cart {
        display: flex;
    }
    .jankx-post-layout-wrap {
        clear: both;
    }
}

.jankx-post-layout-wrap {
    .carousel-layout {
        ul.products {
            li.product {
                float: none;
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
                &.first {
                    clear: none;
                }
            }
        }
    }

    ul.products {
        display: flex;
        width: 100%;
        &:not(.splide__list) {
            flex-wrap: wrap;
        }
        &:before, &:after {
            content: none;
            display: block;
        }
        li.product {
            margin: 0 0 10px;
            float: none;
            padding-left: 5px;
            padding-right: 5px;
            clear: none;
            &.first {
                clear: none;
            }
        }

        &.columns-4 {
            li.product {
                width: 25%;
            }
        }

        &.columns-2 {
            li.product {
                width: 50%;
            }
        }
    }
}

@media(min-width: 480px) {
}

@media(min-width: 768px) {
    .jankx-post-layout-wrap {
        ul.products {
            &.columns-4 {
                li.product {
                    width: percentage(math.div(1,3));
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .jankx-post-layout-wrap {
        ul.products {
            li.product {
                padding-left: 10px;
                padding-right: 10px;
            }
            &.columns-4 {
                li.product {
                    width: 25%;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .jankx-post-layout-wrap {
        .mobile-columns-{
            &2 {
                ul.products {
                    li.product {
                        width: 50%;
                    }
                }
            }
        }
    }
}
