.jankx-posts {
    &.post-type-product{
        margin: 0;
    }
}

.woocommerce, .woocommerce-page {
    .jankx-post-layout-wrap {
        .carousel-layout {
            ul.products {
                li.product {
                    float: none;
                    margin: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                    &.first {
                        clear: none;
                    }
                }
            }
        }
    }
}
