@use "sass:math";

.product {
    &.has-post-thumbnail {
        img.attachment-woocommerce_thumbnail {
            height: 180px;
            object-fit: cover;
        }
    }
    .woocommerce-loop-product__title {
        font-size: inherit;
    }
}

