@use "sass:math";

.product {
    &.has-post-thumbnail {
        img.attachment-woocommerce_thumbnail {
            height: 180px;
            object-fit: cover;
        }
    }
    .woocommerce-loop-product__title {
        font-size: inherit;
    }
}

.woocommerce {
    .jankx-block-features {
        form.cart {
            flex-direction: column;
        }
    }
}

.added_to_cart.wc-forward {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.9);
    left: 0;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

ul.product-list,ul.products {
    .product {
        position: relative;
    }
}

.jankx-product-content-sidebar-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .jankx-product-content-wrap, .jankx-product-sidebar {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .jankx-product-sidebar {
        img {
            max-width: 100%;
            height: auto;
            width: auto;

            object-fit: contain;
        }
    }
}

@media(min-width: 992px) {
    .jankx-product-content-sidebar-wrap {
        flex-wrap: nowrap;
        .jankx-product-content-wrap {
            width: 70%;
        }
        .jankx-product-sidebar {
            width: 30%;
        }
    }
}
