.onsale {
    position: absolute;
    left: 20px;
    top: -5px;
    background: #F43D3D;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0px 0px 5px 5px;

    &:after {
        content: "";
        display: block;
        height: 5px;
        width: 20px;
        position: absolute;
        right: -5px;
        top: 0;
        background-color: #C8232C;
        z-index: -1;
        border-radius: 0px 5px 0px 0px;
    }
}