.jankx-top-product-infos {
    form.cart {
        div.quantity {
            display: flex;
            align-items: center;

            .label {
                min-width: 70px;
            }

            .inputCenter2Conrol {
                display: flex;
            }

            .quantity-control {
                border: 1px solid #ddd;
                display: block;
                padding: 5px 15px;
                cursor: pointer;

                /* Safari */
                -webkit-user-select: none;

                /* IE 10 and IE 11 */
                -ms-user-select: none;

                /* Standard syntax */
                user-select: none;
            }

            .qty {
                border: 1px solid #ddd;
                outline: 0;
                margin: 0 5px;
                min-width: 90px;
            }

            .quantity-control,
            .qty {
                line-height: 22px;
            }
        }
    }
}

.woocommerce {
    div.product {
        .jankx-top-product-infos {
            form.cart {
                div.quantity {
                    margin-bottom: 20px;
                }

                .button-group,
                div.quantity {
                    width: 100%;
                }
            }
        }
    }
}