/*!
 * Module Name: Jankx Ecommerce
 * Author: Puleeno Nguyen
 * Author URI: https://puleeno.com
 * Version: 1.0.50
 */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.onsale {
  position: absolute;
  left: 20px;
  top: -5px;
  background: #F43D3D;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0px 0px 5px 5px;
}
.onsale:after {
  content: "";
  display: block;
  height: 5px;
  width: 20px;
  position: absolute;
  right: -5px;
  top: 0;
  background-color: #C8232C;
  z-index: -1;
  border-radius: 0px 5px 0px 0px;
}

/**
* Star ratings
*/
.star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: "atz-luxury";
}
.star-rating::before {
  content: "ooooo";
  color: #dfdfdf;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span::before {
  content: "ooooo";
  color: #debe60;
  top: 0;
  position: absolute;
  left: 0;
}

.woocommerce-product-rating {
  line-height: 2;
  display: block;
}
.woocommerce-product-rating .star-rating {
  margin: 0.5em 4px 0 0;
  float: left;
}

.products .star-rating {
  display: block;
  margin: 0 0 0.5em;
  float: none;
}

.hreview-aggregate .star-rating {
  margin: 10px 0 0;
}

#review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0;
  background: transparent none;
  border: 0;
}
#review_form #respond p {
  margin: 0 0 10px;
}
#review_form #respond .form-submit input {
  left: auto;
}
#review_form #respond textarea {
  box-sizing: border-box;
  width: 100%;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
}
p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: "atz-luxury";
  content: "o";
  color: #dfdfdf;
  text-indent: 0;
}
p.stars a:hover ~ a::before {
  content: "o";
  color: #dfdfdf;
}
p.stars:hover a::before {
  content: "o";
  color: #debe60;
}
p.stars.selected a.active::before {
  content: "o";
  color: #debe60;
}
p.stars.selected a.active ~ a::before {
  content: "o";
  color: #dfdfdf;
}
p.stars.selected a:not(.active)::before {
  content: "o";
  color: #debe60;
}

.woocommerce .jankx-post-layout-wrap .carousel-layout ul.products li.product, .woocommerce-page .jankx-post-layout-wrap .carousel-layout ul.products li.product {
  float: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.woocommerce .jankx-post-layout-wrap .carousel-layout ul.products li.product.first, .woocommerce-page .jankx-post-layout-wrap .carousel-layout ul.products li.product.first {
  clear: none;
}

.jankx-ecommerce.cart-icon a {
  display: block;
}

.cart-icon {
  position: relative;
  margin-right: 10px;
}
.cart-icon .cart-badge {
  display: flex;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #fff;
  background-color: #ea1303;
  position: absolute;
  top: -10px;
  right: -7px;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  padding: 4px 0;
}

.woocommerce-product-gallery__image {
  overflow: hidden;
}
.woocommerce-product-gallery__image img {
  width: 100%;
  object-fit: cover;
}

.product.has-post-thumbnail img.attachment-woocommerce_thumbnail {
  height: 180px;
  object-fit: cover;
}
.product .woocommerce-loop-product__title {
  font-size: inherit;
}

.woocommerce .jankx-post-layout-wrap ul.products li.product {
  margin: 0 0 20px;
  width: auto;
  float: none;
  padding-left: 10px;
  padding-right: 10px;
}
.woocommerce .cart {
  display: flex;
}

@media (min-width: 480px) {
  .woocommerce .jankx-post-layout-wrap ul.products {
    display: flex;
    flex-wrap: wrap;
  }
  .woocommerce .jankx-post-layout-wrap ul.products li.product {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .woocommerce .jankx-post-layout-wrap ul.products.columns-4 li.product {
    width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .woocommerce .jankx-post-layout-wrap ul.products.columns-4 li.product {
    width: 25%;
  }
}
.jankx-ecom-prod-top-layout.woocommerce div.product div.summary {
  float: none;
  clear: none;
  width: auto;
}
.jankx-ecom-prod-top-layout .product-image-wrap, .jankx-ecom-prod-top-layout .main-product-info {
  position: relative;
}

@media (min-width: 480px) {
  .jankx-ecom-prod-top-layout .product-top-info {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  .jankx-ecom-prod-top-layout .product-image-wrap, .jankx-ecom-prod-top-layout .main-product-info {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .jankx-ecom-prod-top-layout:not(.sidebar-bellow-name) .info-with-sidebar-wrap {
    display: flex;
  }
  .jankx-ecom-prod-top-layout:not(.sidebar-bellow-name) .info-with-sidebar-wrap .product-top-info {
    width: calc(100% - 240px);
    padding-right: 5px;
  }
  .jankx-ecom-prod-top-layout:not(.sidebar-bellow-name) .info-with-sidebar-wrap .sidebar {
    width: 245px;
    padding-left: 5px;
  }

  .jankx-ecom-prod-top-layout.sidebar-bellow-name .info-with-sidebar-wrap {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-image-wrap {
    width: 45%;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .main-product-info {
    width: 55%;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-info-sidebar-wrap {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-info-above-sidebar, .jankx-ecom-prod-top-layout.sidebar-bellow-name .top-info-sidebar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-info-above-sidebar {
    width: calc(100% - 240px);
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .top-info-sidebar {
    width: 245px;
  }
}
@media (min-width: 992px) {
  .jankx-ecom-prod-top-layout:not(.sidebar-bellow-name) .info-with-sidebar-wrap .product-top-info {
    padding-right: 10px;
  }
  .jankx-ecom-prod-top-layout:not(.sidebar-bellow-name) .info-with-sidebar-wrap .sidebar {
    width: 250px;
    padding-left: 10px;
  }

  .jankx-ecom-prod-top-layout .product-top-info {
    margin-left: -10px;
    margin-right: -10px;
  }
  .jankx-ecom-prod-top-layout .product-top-info .product-image-wrap, .jankx-ecom-prod-top-layout .product-top-info .main-product-info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .info-with-sidebar-wrap {
    margin-left: -10px;
    margin-right: -10px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-image-wrap, .jankx-ecom-prod-top-layout.sidebar-bellow-name .main-product-info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-info-sidebar-wrap {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 15px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .product-info-above-sidebar, .jankx-ecom-prod-top-layout.sidebar-bellow-name .top-info-sidebar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .jankx-ecom-prod-top-layout.sidebar-bellow-name .top-info-sidebar {
    width: 250px;
  }
}
.jankx-ecom-product-thumbnails {
  overflow: hidden;
}
.jankx-ecom-product-thumbnails .slick-list {
  margin-left: -5px;
  margin-right: -5px;
}
.jankx-ecom-product-thumbnails .slick-slide {
  padding-left: 5px;
  padding-right: 5px;
}