<li class="{%=o.post_class%}">
    <a href="{%=o.permalink%}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
        {%#o.thumbnail_image%}
        <h2 class="woocommerce-loop-product__title">{%=o.name%}</h2>
        <span class="price">
            {%#o.price_html%}
        </span>
    </a>
</li>
