.woocommerce {
    ul.products {
        li.product {
            &.item-loop-dabnb {
                .jankx-ecommerce-buttons {
                    display: flex;
                    flex-basis: auto;
                    align-items: center;
            
                    a {
                        flex: 1;
                        
                        &.button {
                            margin-top: 0;
                        }

                        &:nth-child(even ) {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
    &:where(body:not(.woocommerce-block-theme-has-button-styles)) .item-loop-dabnb {
        a.button {
            background: none;
        }
    }
}
